#palette {
    width: 240px;
}

#workspace {
    width: 720px;
}

#arrow {
    margin: 16px;
}

#rect {
    position: absolute;
    border: 1px solid #d00;
}

.flexbox {
    display: flex;
}

.moving {
    position: absolute;
    opacity: 0.5;
}

.selected {
    background-color: #faa;
}

.invisible {
    display: none;
}
